#heading1
{
    padding: 50px 10px;
    color: black;
}
#smallfont
{
    color: cornflowerblue;
}
#body
{
   
    background-color: transparent;
}
#bodycolor
{
    background-color: black;
}
#fontcolor
{
    color: snow;
}
#legendcolor
{
    color: khaki;
}